.pets {
  border-radius: 0.25rem;
  background: #f9f9f9 !important;

  .card_pet {
    position: relative;
    transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    .card {
      min-height: 312px;
      border: none;
      background: #fff;
      .card-body {
        img {
          width: 120px;
          height: 120px;
          border-radius: 50%;
        }
        p.card-text,
        h4.card-title {
          min-height: 96px !important;
        }
      }
    }
  }

}
section {
  padding: 20px 0;
}


.card-title {
  color: #007bff;
  cursor: pointer;
}
